.cart-page {
  height: 900px;
  padding: 65px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .soft-popup {
    position: fixed;
    top: 10%;
    right: 10%;
    background-color: #f0a400;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeOut 3s forwards;
  }

  .cart-title {
    font-size: 24px;
    font-weight: bold;
    color: #f0a400;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .cart-item {
      display: flex;
      align-items: center;
      padding: 15px;
      border: 1px solid #505052;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

      .cart-item-image {
        width: 100px;
        height: auto;
        margin-right: 15px;
      }

      .item-details {
        flex-grow: 1;

        .item-name {
          font-size: 18px;
          font-weight: bold;
          color: #505052;
        }

        .item-price,
        .item-quantity {
          color: #505052;
        }
      }

      .remove-btn {
        margin-left: 15px;
        padding: 8px 12px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        background-color: #d9534f;
        color: white;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #c9302c;
        }
      }
    }
  }

  .total-amount {
    font-size: 20px;
    font-weight: bold;
    color: #f0a400;
    margin-top: 20px;
    text-align: right;
  }

  .cart-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .buy-btn,
    .undo-btn {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .buy-btn {
      background-color: #5cb85c;
      color: white;

      &:hover {
        background-color: #4cae4c;
      }
    }

    .undo-btn {
      background-color: #f0a400;
      color: white;

      &:hover {
        background-color: #d78f00;
      }
    }
  }
}
